// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

$global-background: #292c2f;

$background-white:#DFE2DB;
$highlight-blue:#0c4d78;

.page{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar{

  min-width: 200px;
  height: 100%;
  background: $global-background;

  .menu{
    li{
      a{
        &:hover{
            background: lighten($global-background,20%);
        }
      }
      &.active{
        background: $highlight-blue;
        a{
          color:$background-white;
        }
      }
    }
  }

  .profile-pic{
    border: none;
    display: block;
    margin: 15px auto;
    width: 150px;
    border-radius: 50%;
  }
}

.page-content{
padding: 10px;
width: 100%;
height:100%;
background: $background-white;
}
