// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

$global-background: #292c2f;

$background-white:#DFE2DB;
$highlight-blue:#0c4d78;

.page{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar{

  min-width: 200px;
  height: 100%;
  background: $global-background;

  .profile-group{
    display: flex;
    flex-direction:column;   
    margin-bottom: 10px;
    .profile-pic-group{
      flex:1;
      display: flex;
      justify-content: space-around;
        .profile-controls{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        a {
          color: $medium-gray;
          &:hover{
            &.logout{color:$alert-color;}
            &.help{color:$success-color;}
            &.setup{color:$primary-color;}
          }
        }
        
        }
        .profile-pic{
        
        border: none;
        display: block;
        margin: 15px 5px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
       }
    }
    .profile-title{
      flex:1;
      margin: 0 15px;
      color: white;
     }
    

  }

  .menu{
    li{
      a{
        &:hover{
            background: lighten($global-background,20%);
        }
      }
      &.active{
        background: $highlight-blue;
        a{
          color:$background-white;
        }
      }
    }
  }


}

.page-content{
width: 100%;
height:100%;
background: $background-white;
}


.main-bar{
  border: none;
  display: flex;
  background: $global-background;
  .tabs-title{
    text-align: center;
    flex: 1;
    &.is-active{
      a{
      background: $highlight-blue;
      color:$background-white;
      }
    }
  }
}