// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

$login-background: #292c2f;


.login-page-content{
  min-height: 400px;
  padding:50px;
  background: url("../img/login_bg.jpg")  no-repeat center center;
 background-size: cover;
 // height: 85vh;
 overflow: hidden;
	    position: absolute;
   	 width: 100%;
	top:50px;
	bottom:50px;

}


.log-in-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
  background: white;
}

.top-bar{
  background-color: $login-background;
  position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
  .menu-text {
    color:white;
  }
}

.footer {
  height: 50px;
    bottom: 0;
    position: absolute;
    width: 100%;
  background-color: $login-background;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}
