<div class="time-bar">
  <div class="time-bar-container">
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
    <div class="time-bar-peroid"></div>
  </div>
  <div class="time-bar-helper">
    <div class="time-bar-helper-unit">9:00 AM</div>
    <div class="time-bar-helper-unit">9:00 AM</div>
    <div class="time-bar-helper-unit">9:00 AM</div>
    <div class="time-bar-helper-unit">9:00 AM</div>
    <div class="time-bar-helper-unit">9:00 AM</div>
    <div class="time-bar-helper-unit">9:00 AM</div>
    
    <div class="time-bar-helper-unit">9:00 AM<span style="float:right;">5:00PM</span></div>

  </div>


</div>
